<div class="login">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmitRegister()"
    class="form-container"
  >
    <div class="container">
      <h3>Register</h3>

      <mat-form-field appereance="fill" class="full-width">
        <mat-label for="username">Enter your username</mat-label>
        <input
          matInput
          type="text"
          placeholder="Username"
          formControlName="username"
        />
      </mat-form-field>

      <mat-form-field appereance="fill" class="full-width">
        <mat-label for="password">Enter your Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label for="age">Age</mat-label>
        <input matInput type="number" placeholder="age" formControlName="age" />
      </mat-form-field>

      <mat-hint *ngIf="!registerForm.valid">Fill out all the fields!</mat-hint>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        value="registerForm"
        [disabled]="!registerForm.valid"
        class="full-width"
      >
        Register
      </button>
    </div>
  </form>
</div>

<!-- TO DO: CREATE LOGIN FORM -->
